.main_card {
    width: 100%;
    display: flex;
   
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;  
}

.form {
    border:  5px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }

 
 .form h1{
    background-color: aqua;
 }

 .address {
    width: 150px !important;
    background-color: red !important;
    color: yellow !important;
 }