.contenedor{
    background-color: antiquewhite;
    border: 5px solid rgb(94, 0, 0);
    border-radius: 100px;
    margin: 10px;
}

.main_card {
    width: 100%;
    display: flex;
   
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
   
}

.titulo{
    background-color:rgb(94, 0, 0);
    padding: 5px;
    color: white;
}

.carta{
    width: 60rem;
}

.carta div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}